.bg-inicio {
	background-image: url("../img/background/hero.jpg");
	height: 680px;
	background-position: center top;
	/*-webkit-filter: brightness(80%);*/
}
.titulo {
	margin-top: 15%;
	font-size: 2.8em;
}
h3 {
	font-weight: 
}
.bg-foto2 {
	background-image: url("../img/background/city.jpg");
	height: 420px;
	background-position: center top;
	/*-webkit-filter: brightness(80%);*/
}
.bg-contacto {
	background-image: url("../img/background/contactus.jpg");
	height: 750px;
	width: 100%
	background-position: center top;

	
}

header a:hover {
	color: #08B1A9;
}

.portfolio button:hover {
	background-color: #08B1A9;
}
.azul{
	background-color: #34495e;
}
.claro{
	background-color: #bdc3c7;
}
.redonda{
	border-radius: 50%;
	width: 100px;
	height: 100px;
}